@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&family=Open+Sans&display=swap');
/* font-family: 'JetBrains Mono', monospace;

font-family: 'Open Sans', sans-serif; */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    background: #2F2E41;
    color: #FFFFFF;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1083px;
    margin: 71px auto 101px;
}

ul {
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    gap: 64px;
}

main {
    max-width: 1092px;
    margin: 0 auto 157px;
    display: flex;
    gap: 82px;
}

span {
    color: #00BFA6;
}

h1 {
    font-size: 36px;
    line-height: 40px;
}

.main-text {
    font-family: 'Open Sans', sans-serif;
    color: #C2C2C2;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    margin-top: 59px;
}

footer {
    max-width: 568px;
    margin: 0 auto;
    border-top: 1px solid #00BFA6;
    padding-top: 27px;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    line-height: 28px;
}

.padlock {
    position: fixed;
    left: 20px;
    bottom: 20px;
}